/* Background image container styles */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Placing background behind all content */
}

/* Background image styles */
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover entire div */
}

/* CSS for positioning logo */
.logo {
    position: absolute;
    top: 20px;
    /* Adjust distance from top */
    left: 20px;
    /* Adjust distance from left */
}

.navbar {
    background-color: transparent !important;
    /* Set the background color of the navbar to transparent */
    box-shadow: none;
    /* Optional: Remove the shadow effect of the navbar */
}

.navbar-nav .nav-link {
    color: #4C4827 !important;
    /* Set the color of the nav links */
}

/* Adjust icon size and color */
.social-icon {
    font-size: 20px;
    color: #000;

}

h1 {
    text-align: center;
    margin-top: 100px;
    font-family: "Galada", cursive;
    font-weight: 500;
    font-style: normal;
    color: #4C4827;
    font-size: 50px;
}

#carouselExampleIndicators {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-top: 60px;
    font-family: "Galada", cursive;
    font-weight: 200;
    font-style: normal;
    color: #4C4827;
    font-size: 30px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
}

.image-container button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

/* Custom button color */
.btn-primary {
    border-radius: 10px;
    font-size: 20px;
    color: #4C4827;
    /* Set text color */
    background-color: #C9B198;
    /* Set background color */
    border-color: #707070;
    /* Set border color */
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Hover effect */
.btn-primary:hover {
    color: #A58C71;
    /* Set text color on hover */
    background-color: #FFFFFF;
    /* Set background color on hover */
    border-color: #707070;
    /* Set border color on hover */
}

footer p {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}


@media (min-width: 768px) {
    .navbar {
        padding: 40px 0;
        /* Adjust top and bottom padding */
    }

    .navbar-nav .nav-link {
        font-size: 20px;
        /* Adjust font size */
    }

    .navbar-nav .nav-link:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }


    .navbar-nav .nav-item {
        margin-right: 25px;
    }

    h1 {
        margin-top: 40px;
        font-size: 70px;
    }

    .container {
        margin-left: 60px;
    }

    .image-item {
        width: 500px;
        height: auto;
        margin-right: 10px;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    footer p {
        margin-top: 50px;
        font-size: 20px;
    }

}

@media (max-width: 767px) {
    .img-large {
        display: none;
    }
}

@media (min-width: 768px) {
    .img-small {
        display: none;
    }
}